<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Details</title>
</head>
<body>
<h1>Todo Details</h1>
<div>
    <p>Description: <span th:text="${todo.description}"></span></p>
    <p>Starred: <span th:text="${todo.starred} ? 'Yes' : 'No'"></span></p>
    <p>Completed: <span th:text="${todo.completed} ? 'Yes' : 'No'"></span></p>
</div>
<form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="post">
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit">Delete</button>
</form>
<a th:href="@{/todos}">Back to Todo List</a>
</body>
</html>
